body {
    background-color: #f5f5f5;
}

.jumbotron {
    background-color: #084e1c;
    color: white;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#vis1, #vis2, #vis3, #vis4 {
    padding: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
}